<h1>Thrift Shop API Documentation</h1>
<div>
  <% for @file in @files -%>
    <button><%= @file.name %></button>
  <% end -%>
</div>
<p>
  <% for @file in @files -%>
    <div>
      <h1><%= @file.name %>.thrift</h1>

      <% for @service in @file.services -%>
        <div>
          <h2><%= @service.name %></h2>
        </div>
      <% end -%>

      <% for @struct in @file.structs -%>
        <div>
          <p><%= @struct.name %></p>
        </div>
      <% end -%>
    </div>
  <% end -%>
</p>
