<h1>Thrift Shop API Documentation</h1>
<p>
  <% for @struct in @thrift_file.structs -%>
    <p>
      <p><strong><%= @struct.comment %></strong></p>
      <%= @struct.name %>
      <ul>
        <% for @field in @struct.fields -%>
          <li>
            <%= @field.name %>
          </li>
        <% end -%>
      </ul>
    </p>
  <% end -%>
</p>
